body{
    background-color: rgb(231, 239, 241);
}

.facebook{
    width: 350px;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
}

h1{
    text-align: center;
    height: 20px;
}

h4{
    height: 10px;
    text-align: center;
    font-weight: 100;
    font-style: arial;
    font-size: 17px;
    color: rgb(109, 106, 106);
}

.block{
    border: 1px solid black;
    width: 383.5px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border-color: transparent;
    background-color: white;
}

.form{
    border: 1px solid rgb(197, 189, 189);
    width: 88.5%;
    padding-top: 7px;
    padding-left: 10px;
    padding-bottom: 7px;
    margin-bottom: 10px;
    margin-left: 15px;
    height: auto;
    border-radius: 5px;
}

/* .input-div{
    margin-left: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
} */

.name-div{
    height: 30px;
    margin-left: 12px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    border-color: rgb(197, 189, 189);
}

.input{
    border: 1px solid rgb(197, 189, 189);
    margin-left: 3px;
    width: 43%;
    height: auto;
    padding-top: 7px;
    padding-left: 10px;
    padding-bottom: 7px;
    border-radius: 5px;
}

p{
    margin-top: 1px;
    padding-left: 10px;
    font-size: 12px;
    color: rgb(148, 144, 144);
}

.select{
    width: 31%;
    height: 30px;
    border-radius: 5px;
    border-color: rgb(197, 189, 189);
    text-transform: capitalize;

}

.date{
    margin-left: 15px;
    margin-top: 0.5px;
}

label{
    border: 1px solid rgb(197, 189, 189);
    padding-left: 10px;
    padding-right: 30px;;
    margin-left: 15px;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 2px;
}

.button{
    background-color: rgb(8, 202, 8);
    color: white;
    height: 35px;
    width: 200px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 7px;
    border-color: transparent;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.a{
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    margin-top: 10px;
}